.overflow {
  width: 100% !important;
}
.main-right {
  max-width: 100%;
}
.link.is--darker,
.link-block-2 {
  background-color: transparent;
}
.collection-list-wrapper-6 {
  width: 100%;
}

button {
  padding: 0;
  &.link {
    background-color: transparent;
    color: #d32531;
  }
}

.animation {
  -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
    rotateZ(0deg) skew(0, 0);
  -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
    rotateZ(0deg) skew(0, 0);
  -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
    rotateZ(0deg) skew(0, 0);
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
    rotateZ(0deg) skew(0, 0);
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
.rol-jiggle {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
}

.leaderboard {
  .grid-hold {
    .name {
      margin-right: 0px;
      max-width: 164px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1; /* number of lines to show */
      -webkit-box-orient: vertical;
      word-wrap: break-word;
      width: 100%;
    }
    .image-profile {
      width: 69px;
      height: 69px;
      object-fit: cover;
      object-position: center;
    }
  }
}

.get-alerted-form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto 16px;
  .ant-form {
    .ant-form-item {
      width: 100%;
      margin-bottom: 10px;
      input {
        height: 46px;
        border: 4px solid #000;
        line-height: 46px;
        font-size: 1.61em;
        width: 100%;
        padding: 0 12px;
        color: #000;
        font-family: Georgia, sans-serif;
        &:focus {
          border-color: #3898ec;
          outline: 0;
        }
        &::placeholder {
          color: black;
        }
      }
      button {
        color: white;
        font-size: 1.56em;
        height: 50px;
        line-height: 50px;
        background-color: #d32531;
        font-family: Graphik, sans-serif;
        font-weight: 700;
        width: 100%;
        padding: 0;
        .ant-btn-loading-icon {
          margin-right: 4px;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }

    .ant-form-item-explain {
      color: #d32531;
    }
  }

  .success-message {
    padding: 20px;
    text-align: center;
  }
  .error-message-2 {
    text-align: center;
    padding: 20px;
  }

  &.send-trade-form-custom {
    margin: 2em auto;
    max-width: 90%;
  }
}

.redeem-form {
  margin-top: 3em;
  .ant-form {
    margin-bottom: 10px;
    .ant-form-item {
      margin-bottom: 10px;
      input {
        height: 46px;
        border: 4px solid #000;
        line-height: 46px;
        font-size: 1.61em;
        width: 100%;
        padding: 0 12px;
        color: #000;
        font-family: Georgia, sans-serif;
        &:focus {
          border-color: #3898ec;
          outline: 0;
        }
        &::placeholder {
          color: black;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    .ant-form-item-explain {
      color: #d32531;
    }
    .main-left-button {
      margin-top: 3.3em;

      button {
        text-transform: uppercase;
      }
    }
  }
}

.send-trade-popup {
  display: flex;
  .close-div {
    padding: 0;
    background-color: transparent;
  }
}

.rol-btn-auth {
  border: 0 !important;
  background-color: transparent !important;
  font-size: 1em !important;
  line-height: 1em !important;
  font-weight: bold !important;
  overflow: hidden !important;
  margin-left: 0.57em !important;
  line-height: 1em !important;
  padding: 0 !important;
  font-size: 2.4em !important;
  font-family: Graphik, sans-serif !important;
  box-shadow: none !important;

  div {
    display: none;
  }
  span {
    color: #000;
    padding: 0 !important;
    box-shadow: none !important;
    border: 0 !important;
  }
}
.rol-avatar {
  width: 154px;
  height: 154px;
  object-fit: cover;
  object-position: center;
}
.share-popup {
  display: flex;
  .share-url {
    word-break: break-all;
  }
}
.personal-collect {
  .link {
    background-color: transparent;
    color: #d32531;
    font-size: 1em;
    text-decoration: none;
    padding: 0;
    margin: 0;
  }
}
.rol-col-sale {
  text-align: left;

  .heading-8 {
    text-align: center;
    line-height: 1.1;
    margin-bottom: 20px;
  }
}

.rol-pack-item {
  .pack-header {
    .product-image {
      transform: scale(1);
      margin-right: 10px;
    }
  }
}

.button-top,
a {
  font-family: Graphik, sans-serif;
  &:hover {
    color: #d32531;
  }
}

.isDisabled {
  cursor: not-allowed;
  pointer-events: none;
}
.rs-red {
  color: #d32531;
}
.pd-top-bottom {
  padding: 80px 0;
}
.rs-spin {
  padding: 0 4px;
  color: #d32531;
}
@media (min-width: 600px) {
  .leaderboard {
    .grid-hold {
      .name {
        max-width: 300px;
      }
    }
  }
  .get-alerted-form {
    .form-feild {
      height: 62px;
      margin-bottom: 0;
    }
    .submit-button {
      box-sizing: border-box;
      padding: 0;
    }
  }

  .rol-btn-auth {
    font-size: 2.7em !important;
  }
}

.rol-packs-sale {
  text-align: center;
  .collection-item-3 {
    text-align: left;
    .pack-header {
      margin: 0 auto;
    }
  }
}

.share-popup {
  .close-div {
    padding: 0;
    background-color: transparent;
  }
}
.rol-s-stash {
  min-height: 100vh;
}

.mobile-cover {
  transition: 0.3s ease-in-out;
  &.isActive {
    top: 0;
    transition: 0.3s ease-in-out;
  }
}
.rs-custom-private {
  background-color: transparent;
  color: #d32531;
}

@media (min-width: 768px) {
  .get-alerted-form {
    max-width: 50vw;
    .ant-form {
      display: flex;
      align-items: flex-start;
      .ant-form-item {
        margin-bottom: 0;
        width: 60%;
        input {
          height: 62px;
          line-height: 62px;
        }
        button {
          height: 62px;
          line-height: 62px;
        }
        &:nth-child(2) {
          width: 40%;
        }
      }
    }
  }
}
@media (min-width: 991px) {
  .leaderboard {
    .grid-hold {
      .name {
        max-width: 244px;
      }
    }
  }
  .main-left {
    width: 54%;
  }

  .redeem-form {
    .ant-form {
      .ant-form-item {
        input {
          height: 59px;
          line-height: 59px;
        }
      }
    }
  }
  .rol-btn-auth {
    font-size: 1.3em !important;
    margin-right: 0;
    line-height: 1.6 !important;
    border-bottom: 3px solid transparent !important;
    &:hover {
      border-bottom: 3px solid #d32531 !important;
    }
  }

  .rol-packs-sale {
    display: block;
    .collection-item-3 {
      display: inline-block;
      vertical-align: top;
      width: 48%;
      margin: 0 4% 0 0;
      margin-bottom: 100px;

      .pack-header {
        align-items: center;
        justify-content: center;
        margin: 0 auto;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  .rol-col-sale {
    .heading-8 {
      text-align: left;
    }
  }
}

@media (min-width: 1920px) {
  body {
    font-size: 19.2px;
  }
}
